article{
	border-bottom: 1px solid $color-gray04;
	padding: 30px 0;
	position: relative;
	@media screen and (max-width: 800px){
		padding-bottom: 15px;
	}
	@media screen and (max-width: 600px){
		padding: 15px 0;
	}
	h2.title{
        font-family: 'Fjalla One', sans-serif;
		font-size: 2em;
		font-weight: 300;
		line-height: 35px;
		margin-bottom: 20px;
		a{
			color: $color-gray01;
		}
	}

.title a{
    color:#7c7873;
    -webkit-transition:all 1s ease-in-out;
    -moz-transition:all 1s ease-in-out;
    -o-transition:all 1s ease-in-out;
    transition:all 1s ease-in-out;
}

.title a:hover{
    color: #084B8A;
    text-shadow: 3px 3px 12px #888;
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
}
	.entry-content{
		line-height: 2;
		text-align: justify;
		a{
			&:hover{
				text-decoration: underline;
			}
		}
		.more-link{
			display: block;
			margin-top: 16px;
			padding-left: 30px;
			position: relative;
			&:before{
				content: "\f061";
				font: 1.3em $font-icon;
				line-height: 1.6em;
				position: absolute;
				left: 0;
			}
		}
		p, blockquote, ul, ol, dl, table, iframe, h1, h2, h3, h4, h5, h6, .video-container{
			margin-top: 10px;
		}
		ul, ol, dl{
			margin-left: 20px;
			ul, ol, dl{
				margin-top: 0;
			}
		}
		strong{
			font-weight: bold;
		}
		em{
			font-style: italic;
		}
		p{
			margin-top: 10px;	
		}
		h2{
			font-weight: 300;
			border-bottom: 1px solid $color-gray04;
			position: relative;
			&:before{
				content: "";
				position: absolute;
				bottom: -2px;
				border-bottom: 1px solid $color-gray05;
				width: 100%;
			}
		}
		img, video{
      @extend .basic-alignment;
      margin: 10px 0;
			max-width: 100%;
			height: auto;
      -moz-border-radius:0.3em;
      -webkit-border-radius:0.3em;
      -o-border-radius:0.3em;
      -ms-border-radius:0.3em;
      -khtml-border-radius:0.3em;
      border-radius:0.3em;
      -moz-box-shadow:rgba(0,0,0,0.75) 0 1px 4px;
      -webkit-box-shadow:rgba(0,0,0,0.75) 0 1px 4px;
      -o-box-shadow:rgba(0,0,0,0.75) 0 1px 4px;
      box-shadow:rgba(0,0,0,0.75) 0 1px 4px;
      -moz-box-sizing:border-box;
      -webkit-box-sizing:border-box;
      -ms-box-sizing:border-box;
      box-sizing:border-box;
      border:#fff 0.3em solid;
		}

        img.noborder, video.noborder {
            border: none;
            box-shadow: none;
        }

		blockquote{
			background: $color-gray04;
			border-left: 5px solid $color-gray03;
			padding: 15px 20px;
			margin-top: 10px;
			& > p:first-of-type{
				margin-top: 0;
			}
		}
		iframe{
			border: none;
		}
		table{
			background: $color-gray04;
			border: 1px solid $color-gray03;
			border-spacing: 0;
			margin-top: 10px;
			th{
				background: $color-gray03;
				padding: 0 15px;
			}
			td{
				text-align: center;
			}
			tr{
				&:nth-of-type(2n){
					background: #d5d5d5;
				}
			}
		}
		.caption{
			display: block;
			font-size: 0.9em;
			color: $color-gray02;
			padding-left: 25px;
			position: relative;
			&:before{
				content: "\f040";
				color: $color-gray03;
				font: 1.3em $font-icon;
				line-height: 1.6em;
				position: absolute;
				left: 0;
			}
		}
		.video-container{
			position: relative;
			padding-bottom: 56.25%;
			padding-top: 30px;
			height: 0;
			overflow: hidden;
			iframe, object, embed{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				margin-top: 0;
			}
		}
	}
}
.share{
	padding: 15px 0;
	@include border-shadow();
}
