<ul id="social-links" style="text-align:center">
  {% if site.github_user %}
  <!-- GitHub -->
  <li>
  <a href="https://github.com/{{ site.github_user }}" class="github" title="Github"></a>
  </li>
  {% endif %}
  {% if site.googleplus_user %}
  <!-- Google Plus -->
  <li>
  <a href="http://plus.google.com/{{ site.googleplus_user }}?rel=author" class="google" title="Google+"></a>
  </li>
  {% endif %}
  {% if site.facebook_user %}
  <!-- Facebook -->
  <li>
  <a href="http://www.facebook.com/{{ site.facebook_user }}" class="facebook" title="Facebook"></a>
  </li>
  {% endif %}
  {% if site.twitter_user %}
  <!-- Twitter -->
  <li>
  <a href="http://www.twitter.com/{{ site.twitter_user }}" class="twitter" title="Twitter"></a>
  </li>
  {% endif %}
  {% if site.linkedin_user %}
  <!-- LinkedIn -->
  <li>
  <a href="http://www.linkedin.com/in/{{ site.linkedin_user }}" class="linkedin" title="LinkedIn"></a>
  </li>
  {% endif %}
  {% if site.skype_user %}
  <!-- Skype -->
  <li>
  <a href="http://myskype.info/{{ site.skype_user }}" class="skype" title="Skype"></a>
  </li>
  {% endif %}
  {% if site.youtube_user %}
  <!-- Youtube -->
  <li>
  <a href="http://youtube.com/user/{{ site.youtube_user }}" class="youtube" title="Youtube"></a>
  </li>
  {% endif %}
  {% if site.lastfm_user %}
  <!-- LastFM -->
  <li>
  <a href="http://www.lastfm.com/user/{{ site.lastfm_user }}" class="lastfm" title="LastFM"></a>
  </li>
  {% endif %}
</ul>
